* {
    margin: 0;
    padding: 0;
    }

#canvas1 {
    background: #af875c;
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
    top: 0;
}

#image1{
    display: none;
}
